* {
  margin: 0;
  padding: 0;
  /* O box-sizing border-box vai fazer com que o padding não aumente
   o height nem o width de um elemento assim não aumentando o seu tamanho */

  /* Vai fazer um padding interno no elemento assim diminuindo o tamanho do contéudo
    dentro dele */
  box-sizing: border-box;
}

body {
  background: #E6ECF0;
  font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

header#main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 46px;
  background: #FFFFFF;
}

header#main-header nav ul {
  display: flex;
  list-style: none;
}

header#main-header nav ul li {
  display: flex;
  align-items: center;

  font-size: 13px;
  color: #667580;
  font-weight: bold;

  margin-left: 30px;
}

header#main-header nav ul li:first-child {
  margin: 0;
}

header#main-header nav ul li img {
  margin-right: 7px;
  height: 23px;
  width: 23px;
}

header#main-header img#logo {
  height: 24px;
  width: 21px;
}

header#main-header div.side img{
  height: 34px;
  width: 35px;
  border-radius: 50%;
  margin: 0 15px;
}